body {
  font-family: Aldrich;
  font-size: 11px;
  color: #ddd;
  background-color: #111;
  padding: 20px 15px;
}

a, a:visited, a:active {
  color: #99b;
}

a:hover {
  color: #99f;
}

h1 {
  color: #ff6;
  font-size: 2.5em;
  margin: 10px 0 10px -2px;
}

#app {
  width: 100%;
  height: 100%;
}

#nav {
  margin: 3px 3px 30px 0;
}

.clear {
  clear: both;
}
